@import url('google-fonts/css/poppins.css');

/* doesn't work in Firefox */
@view-transition {
  navigation: auto;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
